{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <main>
    <div class="container wow fadeIn">

      <h2 class="mb-5 h2 text-center">Checkout form</h2>

      <div class="row">
        <div class="col-md-8 mb-4">

          <div class="card">
            
            <form method="POST" class="card-body">
              {%csrf_token%}

              <h3>Shipping address</h3>

              <div class='hideable_shipping_form'>
                <div class="md-form mb-5">
                  <input type="text" id="shipping_address" name="shipping_address" class="form-control" placeholder="1234 Main St">
                  <label for="shipping_address" class="">Address</label>
                </div>
  
                <div class="md-form mb-5">
                  <input type="text" id="shipping_address2" name="shipping_address2" class="form-control" placeholder="Apartment or Suite">
                  <label for="shipping_address2" class="">Address 2 (optional)</label>
                </div>
  
                <div class="row">
  
                  <div class="col-lg-4 col-md-12 mb-4">
  
                    <label for="country">Country</label>
                    <!-- <select class="custom-select d-block w-100" id="country" required>
                      <option value="">Choose...</option>
                      <option>United States</option>
                    </select> -->
                    {{ form.shipping_country }}
                    <div class="invalid-feedback">
                      Please select a valid country.
                    </div>
  
                  </div>
  
                  <!-- <div class="col-lg-4 col-md-6 mb-4">
  
                    <label for="state">State</label>
                    <select class="custom-select d-block w-100" id="state" required>
                      <option value="">Choose...</option>
                      <option>California</option>
                    </select>
                    <div class="invalid-feedback">
                      Please provide a valid state.
                    </div>
  
                  </div> -->
  
                  <div class="col-lg-4 col-md-6 mb-4">
  
                    <label for="shipping_zip">Zip</label>
                    <input type="text" class="form-control" id="shipping_zip" placeholder="Zip code" name="shipping_zip">
                    <div class="invalid-feedback">
                      Zip code required.
                    </div>
  
                  </div>
  
                </div>
  
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" name="same_billing_address" class="custom-control-input" id="same_billing_address">
                  <label class="custom-control-label" for="same_billing_address">Billing address is the same as my shipping adddress</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" name="set_default_shipping" class="custom-control-input" id="set_default_shipping">
                  <label class="custom-control-label" for="set_default_shipping">Save this as default shipping address</label>
                </div>
              </div>
              {% if default_shipping_address %}
              <div class="custom-control custom-checkbox">
                <input type="checkbox" name="use_default_shipping" class="custom-control-input" id="use_default_shipping" {% if order.shipping_address.default%} checked {%endif%}>
                <label class="custom-control-label" for="use_default_shipping">Use  default shipping address: {{default_shipping_address.street_address|truncatechars:10}}</label>
              </div>
              {% endif %}
              <hr>


              
              <div id="billing_address">
                <h3>Billing address</h3>

                <div class='hideable_billing_form'>
                  <div class="md-form mb-5">
                    <input type="text" id="billing_address" name="billing_address" class="form-control" placeholder="1234 Main St">
                    <label for="billing_address" class="">Address</label>
                  </div>
    
                  <div class="md-form mb-5">
                    <input type="text" id="billing_address2" name="billing_address2" class="form-control" placeholder="Apartment or Suite">
                    <label for="billing_address2" class="">Address 2 (optional)</label>
                  </div>
    
                  <div class="row">
    
                    <div class="col-lg-4 col-md-12 mb-4">
    
                      <label for="country">Country</label>
                      <!-- <select class="custom-select d-block w-100" id="country" required>
                        <option value="">Choose...</option>
                        <option>United States</option>
                      </select> -->
                      {{ form.billing_country }}
                      <div class="invalid-feedback">
                        Please select a valid country.
                      </div>
    
                    </div>
    
                    <!-- <div class="col-lg-4 col-md-6 mb-4">
    
                      <label for="state">State</label>
                      <select class="custom-select d-block w-100" id="state" required>
                        <option value="">Choose...</option>
                        <option>California</option>
                      </select>
                      <div class="invalid-feedback">
                        Please provide a valid state.
                      </div>
    
                    </div> -->
    
                    <div class="col-lg-4 col-md-6 mb-4">
    
                      <label for="billing_zip">Zip</label>
                      <input type="text" class="form-control" id="billing_zip" placeholder="Zip code" name="billing_zip">
                      <div class="invalid-feedback">
                        Zip code required.
                      </div>
    
                    </div>
    
                  </div>
    
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="set_default_billing" class="custom-control-input" id="set_default_billing">
                    <label class="custom-control-label" for="set_default_billing">Save this as default billing address</label>
                  </div>
                </div>
                {% if default_billing_address %}
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" name="use_default_billing" class="custom-control-input" id="use_default_billing" {% if order.billing_address.default%} checked {%endif%}>
                  <label class="custom-control-label" for="use_default_billing">Use  default billing address: {{default_billing_address.street_address|truncatechars:10}}</label>
                </div>
                {% endif %}
                
                <hr>
              </div>

              <h3>Payment Option</h3>
              <div class="d-block my-3">
                {% for value, name in form.fields.payment_option.choices %}
                <div class="custom-control custom-radio">
                  <input id="{{name}}" name="payment_option" type="radio" class="custom-control-input" value="{{value}}" required>
                  <label class="custom-control-label" for="{{name}}">{{ name }}</label>
                </div>
                {% endfor %}
              </div>
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>

          </div>
          <!--/.Card-->

        </div>

        <div class="col-md-4 mb-4">

          {% include "order_snippet.html" %}

        </div>
      </div>
    </div>
  </main>

  {% block extra_scripts %}
    <script>
      var hideable_shipping_form = $('.hideable_shipping_form');
      var hideable_billing_form = $('.hideable_billing_form');
      var use_default_shipping = $('#use_default_shipping');
      var use_default_billing = $('#use_default_billing');
      var same_billing_address = $('#same_billing_address');
      var billing_address = $('#billing_address');
      var is_shipping_default = use_default_shipping.prop('checked');
      var is_billing_default = use_default_shipping.prop('checked');

      $( document ).ready(function() {
        if (is_shipping_default) {
          hideable_shipping_form.hide();
        }
        if (is_billing_default) {
          $('.hideable_billing_form').hide();
        }
      });
      
      // USE DEFAULT SHIPPING ADDRESS
      use_default_shipping.change(function() {
        if (this.checked) {
          hideable_shipping_form.hide();
        } else {
          hideable_shipping_form.show();
        }
      });

      // USE DEFAULT BILLING ADDRESS
      use_default_billing.change(function() {
        if (this.checked) {
          hideable_billing_form.hide();
        } else {
          hideable_billing_form.show();
        }
      });

      // SHIPPING SAME AS BILLING ADDRESS
      same_billing_address.change(function() {
        if (this.checked) {
          if (is_billing_default) {
            use_default_billing.prop('checked', false);
          }
          billing_address.hide();
        } else {
          billing_address.show();
          hideable_billing_form.show();
        }
      });
    </script>
  {% endblock extra_scripts %}

  {% endblock content %}
